# network size
SIZE 10

# parameters of periodic execution
CYCLES 1
CYCLE SIZE*10000

dimensions 6
dataSourceFile data.csv

random.seed 1234567890
#simulation.cycles 3
simulation.endtime CYCLE*CYCLES
simulation.logtime CYCLE

#control.shf Shuffle

network.size SIZE

protocol.link can.CANProtocol
protocol.link.nodespec nodespec
protocol.nodespec can.CANNodeSpecs

#protocol.avg example.aggregation.AverageFunction
#protocol.avg.linkable lnk

#init.rnd WireKOut
#init.rnd.protocol lnk
#init.rnd.k 20

init.can CANNodeInitializer
init.can.dimensions nodespec
init.can.protocol link

#init.lin LinearDistribution
#init.lin.protocol avg
#init.lin.max 100
#init.lin.min 1

# you can change this to select the peak initializer instead
#include.init rnd lin

#control.avgo example.aggregation.AverageObserver
#control.avgo.protocol avg


#control.mem MemoryObserver
#control.mem.step CYCLE
control.sq SkylineControl
control.sq.protocol link
control.sq.dimensions nodespec
control.sq.step CYCLE
